html{
    height: 100%;
    font-family: 'Sen', sans-serif;
}

body{
    background: linear-gradient(135deg, #FEFDCD, #A3E6FF);  
    margin: 0;
    padding: 0;
    height: 100%;
    display: grid;
    align-items: center;
    justify-items: center;
    min-height: 800px;
}

h1{
    font-size: 28;
    margin: 0;
    padding: 0;
    grid-column: 2/3;
    font-weight: 400;
    font-family: 'Sen', sans-serif;
}

.dashboard{
    height: 80%;
    width: 70%;
    min-width: 1113px;
    display: grid;
    grid-template-columns: 1fr 3fr ;
    grid-template-rows: 15% 85%;
    background-color: #ffffff80;
    border-radius: 56px;
    column-gap: 16px;
}

header{
    display: grid;
    grid-template-columns: 1fr 1.8fr 1.2fr;
    grid-column: 1/-1;
    justify-content: center;
    align-items: center;
    column-gap: 16px;
}

.userDiv{
    display: grid;
    grid-column: 3/4;
    grid-template-columns: repeat(3);
    justify-content: end;
    align-items: center;
    column-gap: 16px;
    padding-right: 57px;
}

.userCircle{
    display: grid;
    grid-column: 2/3;
    height: 48px;
    width: 48px;
    border-radius: 50%;
    background-color: #ffffff;
    justify-content: center;
    align-items: center;
    box-shadow: 4px 4px 4px #00000025;
}

h2{
    font-size: 25px;
    font-weight: 400;
    font-family: 'Sen', sans-serif;
    white-space: nowrap;
    grid-column: 3/4;
}

.logoDiv{
    display: grid;
    grid-template-columns: repeat(2);
    grid-template-rows: 38px;
    padding-left: 64px;
    justify-content: start;
    align-items: center;
    column-gap: 14px;   
}

.searchBar{
    display: grid;
    height: 49px;
    grid-column: 2/3;
    background-color: #ffffff;
    border-radius: 56px;
    justify-content: end; 
    align-items: center;
    box-shadow: 4px 4px 4px #00000025;
}

#searchIcon{
    margin-right: 15px;
}

aside{
    display: grid;
    grid-column: 1/2;    
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    padding-left: 15px;
}

.navDiv{
    display: grid;
    grid-template-columns: repeat(2);
    grid-template-rows: 38px;
    justify-content: start;
    align-items: center;
    column-gap: 14px;  
}

h3{
    font-size: 20;
    margin: 0;
    padding: 0;
    grid-column: 2/3;
    font-weight: 400;
    font-family: 'Sen', sans-serif;
}

.upperNagivation{
    display: grid;
    grid-template-rows: repeat(5,28px);
    gap: 20px;
    align-items: start;
    padding-top: 10px;
}

.lowerNavigation{
    display: grid;
    align-items: center;
    grid-template-rows: repeat(3,28px);
    gap: 20px;
    align-content: end;
    padding-bottom: 64px;    
}

/* main */
.title{
    font-weight: 600;
    display: grid;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
}

p{
    display: grid;
    align-items: center;
    justify-content: center;
    font-size: 15px; 
    padding: 15px;
    margin: 0;
    padding-left: 30px;
    padding-top: 8px;
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 6% 94% ;
    column-gap: 21px;
}

.projectsDiv{
    display: grid;
    grid-column: 1/3;
    justify-content: center;
    align-items: center;
    padding-right: 25px;
    padding-top: 0px;
}

.anouncementsDiv{
    display: grid;
    grid-column: 3/4;
    grid-row: 1/2;
    justify-content: center;
    align-items: center;
    padding-right: 25px;
    padding-top: 0px;
}

.trendingDiv{
    display: grid;
    grid-column: 1/2;
    grid-row: 2/3;
    justify-content: center;
    align-items: center;
}

section{
    background-color: #ffffff;
    border-radius: 56px;
    box-shadow: 4px 4px 4px #00000025;
}

.sectionOne{
    display: grid;
    grid-column: 1/2;
    gap: 21px;
    padding-bottom: 41px;
    justify-content: center;
}

.sectionTwo{
    display: grid;
    grid-column: 2/3;
    gap: 21px;
    padding-bottom: 41px;
}

.sectionThree{
    display: grid;
    grid-column: 3/4;
    grid-template-rows: 1.1fr 0.2fr 1.7fr;
    gap: 10px;
    padding-bottom: 41px;
    padding-right: 41px;
}

h3.title.trendingDiv{
    padding: 0;
}

.socialSection{
    display: grid;
    grid-template-rows: 49px 49px 49px 49px;
    gap:15px;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
}

.userSection{
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}

.userIcon{
    display: grid;
    grid-column: 1/2;
    grid-row: 1/3;
    padding-right: 10px;
}

.userInformation{
    display: grid;
    grid-template-rows: repeat(2);
}

h4{
    font-size: 15px;
    font-weight: normal;
    margin: 0;
}

a{
    font-size: 10px;
}