html{
       height: 100%;
       font-family: 'Sen', sans-serif;
   
}

body{
    background: linear-gradient(135deg, #FEFDCD, #A3E6FF);  
      margin: 0;
       padding: 0;
       height: 100%;
       display: grid;
       align-items: center;
       justify-items: center;

}

h1{
    font-size: 23px;
    margin: 0;
    padding: 0;
    grid-column: 2/3;
    font-weight: 400;
    font-family: 'Sen', sans-serif;

}

.dashboard{
    height: 80%;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: #ffffff80;
    border-radius: 56px;
   
}

.sidebar{
    display: grid;
    grid-template-rows:  38px 1fr 1fr;
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 64px;
    
    
}

.logoDiv{
    display: grid;
    grid-template-columns: repeat(2);
    grid-template-rows: 38px;
    justify-content: start;
    align-items: center;
    column-gap: 14px;
   
}

.upperNagivation{
    display: grid;
    align-items: center;
    grid-template-rows: repeat(5,28px);
    gap: 20px;
    padding-top: 67px;
}




.lowerNavigation{
    display: grid;
    align-items: center;
    grid-template-rows: repeat(3,28px);
    gap: 20px;
    align-content: end;
}